#MainMenu {
	color: inherit; border-color:inherit; background:inherit
}

.jqx-menu-default, .jqx-grid-toolbar-default, .jqx-grid-column-header-default, .jqx-grid-statusbar-default, .jqx-grid-pager-default, .jqx-grid-groups-header-default, .jqx-tabs-headerWrapper, .jqx-tabs-title-default {
	color:#fff; border-color:#000; background:#000 url(images/bg_black.png) left center scroll repeat-x;
}

.jqx-tabs-arrow-left-default{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-tabs-arrow-right-default{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-tabs-close-button-default, .jqx-tabs-close-button-hover-default, .jqx-tabs-close-button-selected-default{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}


#UserMenu .jqx-fill-state-hover-default, .jqx-tabs-title-hover-top{background:transparent url(images/bg_blackhover.png) left center scroll repeat-x; border-color:#262626; color:#fff}
#UserMenu .jqx-fill-state-pressed-default, #UserMenu .jqx-menu-item-top-hover-default, .jqx-tabs-title-selected-top{background:transparent url(images/bg_blackpressed.png) left center scroll repeat-x; border-color:#262626; color:#fff}

.jqx-grid-default, .jqx-grid-header-default, .jqx-grid-cell-default{border-color:#262626}
.jqx-widget-default .jqx-grid-cell-default, .jqx-widget-default .jqx-grid-group-cell-default{border-color:#262626}
.jqx-widget-default .jqx-grid-column-menubutton-default, .jqx-widget-default .jqx-grid-column-sortascbutton-default, .jqx-widget-default .jqx-grid-column-sortdescbutton-default, .jqx-widget-default .jqx-grid-column-filterbutton-default{border-color:#262626}
.jqx-widget-default .jqx-grid-column-header-default{border-color:#262626}
.jqx-grid-bottomright-default{background-color:#262626}
.jqx-widget-default .jqx-grid-column-menubutton-default{background-color:#262626; border-color:#262626}
 .jqx-grid-selectionarea-default{background-color:#262626; border:1px solid #262626; opacity:0.5}
.jqx-grid-group-cell-default{border-color:#262626; background-color:#fff}
.jqx-grid-cell-sort-default, .jqx-grid-cell-filter-default, .jqx-grid-cell-pinned-default{ background-color:#eaf8ff}
.jqx-grid-cell-alt-default, .jqx-grid-cell-sort-alt-default, .jqx-grid-cell-filter-alt-default{ background-color:#deedf5}
.jqx-grid-cell-selected-default{background:#262626; color:#fff}
.jqx-grid-cell-hover-default{background:#646464; color:#fff}

.jqx-grid-column-sortascbutton-default{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-grid-column-menubutton-default, .jqx-grid-column-sortdescbutton-default{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center}

.jqx-grid-group-expand-default, .jqx-grid-cell-default>.jqx-grid-group-expand-default {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-default, .jqx-grid-cell-default>.jqx-grid-group-collapse-default {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-rtl-default, .jqx-grid-cell-default>.jqx-grid-group-collapse-rtl-default {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-expand-rtl-default, .jqx-grid-cell-default>.jqx-grid-group-expand-rtl-default {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-default.jqx-grid-cell-selected-default>.jqx-grid-group-expand-default,
.jqx-grid-cell-default.jqx-grid-cell-hover-default>.jqx-grid-group-expand-default {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-default.jqx-grid-cell-selected-default>.jqx-grid-group-collapse-default,
.jqx-grid-cell-default.jqx-grid-cell-hover-default>.jqx-grid-group-collapse-default {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-default.jqx-grid-cell-selected-default>.jqx-grid-group-collapse-rtl-default,
.jqx-grid-cell-default.jqx-grid-cell-hover-default>.jqx-grid-group-collapse-rtl-default {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-default.jqx-grid-cell-selected-default>.jqx-grid-group-expand-rtl-default,
.jqx-grid-cell-default.jqx-grid-cell-hover-default>.jqx-grid-group-expand-rtl-default {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-radiobutton-default {
	background: none;
	overflow: inherit;
}