0body {
    background-color: rgb(245,245,245);
}

#indexForm {
    background-color: white;
}

#MainMenu {
    background-color: rgb(110,190,69);
    color: white;
    margin-top: 56px;
    height: 26px;
    padding-left: 10px;
    border: hidden;
    border-radius: 0;
}


#MainMenu #logo {
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 202px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 0;
    height: 10px;
}

#MainMenu #logo img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images.transcord/logo-small.png) no-repeat;
    width: 202px;
    height: 26px;
    padding-left: 204px;
}

#MainMenu > ul {
    height: 40px;
    padding: 0;
}

#MainMenu > ul > li {
    padding-top: 15px;
   
    line-height: 1 !important;
    border: hidden;
    border-radius: 0;
    margin: 0;
    height: 15px;
}

#MainMenu > ul > li.jqx-menu-item-top {
    padding-left: 14px;
    padding-right: 14px;
}

#MainMenu > ul > li.jqx-fill-state-hover {
    background-color: rgb(80, 167, 34);
    border: hidden;
    border-radius: 0;
}

#MainMenu > ul > li.jqx-fill-state-pressed {
    background-color: rgb(80, 167, 34);
    border: hidden;
    border-radius: 0;
}

#MainMenu > ul > #mainmenu-user {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3 !important;
    height: 20px;
}

#mainmenu-user.jqx-fill-state-hover, #mainmenu-settings-hidden-button.jqx-fill-state-hover, #mainmenu-exit.jqx-fill-state-hover, #MainMenu #logo.jqx-fill-state-hover {
    background-color: rgb(245, 245, 245) !important;
    height: 25px;
}

#mainmenu-user, #mainmenu-settings-hidden-button, #mainmenu-exit {
    position: absolute;
    top: 5px;
    left: auto;
    overflow: visible;
    padding-top:15px;
    padding-left: 9px !important;
    padding-right: 9px !important;
    border: hidden;
    border-radius: 0;
    margin: 0;
    
}

#mainmenu-exit {
    right: 13px;
}

#mainmenu-settings-hidden-button {
    display: inherit !important;
    right: 52px;
    height: 20px;
}

#mainmenu-user {
    right: 91px;
    top: 0px;
    padding-bottom: 17px !important;
}

#mainmenu-user font {
    color: black;
}

#mainmenu-exit a, #mainmenu-settings-hidden-button a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    padding-top: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#mainmenu-settings-hidden-button a {
    background-image: url(images.transcord/icon-options.png);
    height: 20px;
}

#mainmenu-exit a {
    background-image: url(images.transcord/icon-exit.png);
}

#mainmenu-settings {
    display: none;
    height: 20px;
}

#mainmenu-user a {
    background-image: url(images.transcord/icon-options.png);

}

#MainMenu > ul > #mainmenu-home-button {
    height: 17px;
    padding-bottom: 19px !important;
}

#mainmenu-home-button img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images.transcord/icon-home.png) no-repeat;
    width: 16px;
    height: 15px;
    padding-left: 16px;
}

#MainMenu .jqx-menu-item-arrow-down, #MainMenu .jqx-icon-arrow-down
{
    background-image: url(images.transcord/icon-down.png) !important;
    height: 13px;
}

ul.jqx-menu-dropdown-transcord {
    border-radius: 0;
    border: hidden;
    background-color: rgb(99,99,99);
    color: white;
    
    padding-top:0px;
}

ul.jqx-menu-dropdown-transcord .jqx-icon-arrow-right-transcord {
    background-image: url(images/icon-right-white.png);
}

li.jqx-menu-item-transcord {
    margin: 0;
    border: hidden !important;
    border-radius: 0;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}

li.jqx-menu-item-hover-transcord {
    color: black;
    margin: 0;
    border: hidden !important;
    border-radius: 0;
    background-color: rgb(215,215,215);
}

li.jqx-menu-item-hover-transcord .jqx-icon-arrow-right-transcord {
    background-image: url(images/icon-right.png);
}

li.jqx-menu-item-selected-transcord {
    color: black;
    margin: 0;
    border: hidden !important;
    border-radius: 0;
    background-color: rgb(215,215,215);
}

li.jqx-menu-item-selected-transcord .jqx-icon-arrow-right-transcord {
    background-image: url(images/icon-right.png);
}

.hr-menu {
    border: 0;
    height: 1px;
    background: #aaa;
}

#UserMenu {

    height: 64px !important;
    border: hidden;
    background-color: rgb(245,245,245);
}

.jqx-grid-toolbar-transcord {
    height: 35px;
    border: hidden;
    background-color: rgb(245,245,245);
}

.jqx-grid-groups-toolbar-transcord {
    height: 40px;
    
}

#UserMenu ul {
    height: 100%;
    line-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    
}

#UserMenu > ul > li {
    display: inline-block;
    float: none !important;
    border-radius: 30px;
    border-color: darkslategrey;
    color: black;
    vertical-align: middle;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.1 !important;
}

#UserMenu > ul > li > div {
    height: 100%;
    border: 0;
    padding: 0;
    line-height: 1.3 !important;
}

#UserMenu > ul > li > div > input, #UserMenu > ul > li > a {
    margin-top: 0px !important;
    display: inline-block;
    height: 100% !important;
    padding: 0px 6px;
    width: inherit !important;
    border: 0;
    line-height: 1.3 !important;
}

#UserMenu > ul > li > span {
    height: 25.5px;
}

#UserMenu > ul > li.jqx-menu-item-top-hover-transcord > span {
    background-image: url(images.transcord/icon-down.png) !important;
}

#UserMenu > ul > li > span.jqx-icon-arrow-down-transcord.jqx-menu-item-arrow-down-selected-transcord {
    background-image: url(images.transcord/icon-down.png) !important;
}

#UserMenu li input {
    color: black !important;
}

#UserMenu .jqx-menu-item-top-hover-transcord {
    background-color: rgb(80, 167, 34);
    color: white !important;
    border-color: rgb(80, 167, 34);
}

#UserMenu .jqx-menu-item-top-hover-transcord input {
    color: white !important;
    cursor: pointer;
}

#UserMenu .jqx-menu-item-top-selected-transcord {
    border-radius: 15px;
    background-color: rgb(80, 167, 34);
    color: white !important;
    border-color: rgb(80, 167, 34);
}

#UserMenu .toggleBtnClass {
    background-color: rgb(80, 167, 34) !important;
    border-color: rgb(80, 167, 34) !important;
    background-image: none !important;
    color: white !important;
}

#UserMenu .toggleBtnClass input, #UserMenu .jqx-menu-item-top-selected-transcord input {
    color: white !important;
}

.jqx-grid-transcord {
    border-color: rgb(245,245,245);
}

.jqx-grid-toolbar-transcord {
    display: table;
}

.jqx-grid-toolbar-transcord > div {
    height: 100%;
    margin: 0 !important;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
}

.jqx-grid-toolbar-transcord > div > div {
    float: none !important;
    display: inline-block;
    width: auto !important;
    height: 28px !important;
    border-radius: 30px !important;
    border-color: darkslategrey;
    color: black;
    padding: 0 8px;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: pointer;
    background-color: rgb(245,245,245);
    margin-left: 7px !important;
    position: relative;
    vertical-align: top;
    line-height: 27px;
}
.jqx-grid-toolbar-transcord > div > div.jqx-numberinput-transcord {
    background-color: white;
    width: 50px !important;
}
.jqx-grid-toolbar-transcord > div > input not[id*='OrderPaymentControlInput{']{
    float: none !important;
    display: inline-block;
    width: auto !important;
    height: 28px !important;
    padding: 0 8px;
    box-shadow: none !important;
    text-shadow: none !important;
    margin-left: 7px !important;
    position: relative;
    vertical-align: top;
    line-height: 27px;
}

.jqx-grid-toolbar-transcord > div > div > img {
    margin: 6px !important;
    display: inline-block;
}

.jqx-grid-toolbar-transcord > div > div > span:nth-child(1) {
    top: 0px !important;
    margin-right: 4px;
}

.jqx-grid-toolbar-transcord > div > div > span:nth-child(2) {
    visibility: hidden;
    position: absolute !important;
    top: 0px !important;
    margin-right: 4px !important;
}

.jqx-grid-toolbar-transcord > div > div.jqx-fill-state-hover, .jqx-grid-toolbar-transcord > div > div.jqx-fill-state-pressed {
    background-color: rgb(80, 167, 34);
    color: white !important;
    border-color: rgb(80, 167, 34);
}

.jqx-grid-toolbar-transcord > div > div img {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

.jqx-grid-toolbar-transcord > div > div::after {
    position: relative;
    top: -10px;
    margin-right: 6px;
}




#grid-reload img {
    background: url(images.transcord/icon-reload.png) no-repeat;
    padding-left: 16px;
}

#grid-reload.jqx-fill-state-hover img, #grid-reload.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-reload-white.png) no-repeat;
}

#grid-reload::after  {
    content: 'Обновить';
}
#ProgressBar {

}
#grid-add img {
    background: url(images.transcord/icon-add.png) no-repeat;
    padding-left: 16px; 
}

#grid-add.jqx-fill-state-hover img, #grid-add.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-add-white.png) no-repeat;
}

#grid-add::after  {
    content: 'Добавить';
}

#grid-add-by-copy img {
    background: url(images.transcord/icon-copy.png) no-repeat;
    padding-left: 16px; 
}

#grid-add-by-copy.jqx-fill-state-hover img,#grid-add-by-copy.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-copy-white.png) no-repeat;
}

#grid-add-by-copy::after  {
    content: 'Скопировать';
}

#grid-edit img {
    background: url(images.transcord/icon-edit.png) no-repeat;
    padding-left: 16px; 
}

#grid-edit.jqx-fill-state-hover img, #grid-edit.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-edit-white.png) no-repeat;
}

#grid-edit::after  {
    content: 'Открыть';
}

#grid-delete img {
    background: url(images.transcord/icon-delete.png) no-repeat;
    padding-left: 16px; 
}

#grid-delete.jqx-fill-state-hover img, #grid-delete.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-delete-white.png) no-repeat;
}

#grid-delete::after  {
    content: 'Удалить';
}

#grid-export img {
    background: url(images.transcord/icon-export.png) no-repeat;
    padding-left: 16px; 
}

#grid-export.jqx-fill-state-hover img, #grid-export.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-export-white.png) no-repeat;
}

#grid-export::after  {
    content: 'Экспорт';
}

#grid-restore img {
    background: url(images.transcord/icon-restore.png) no-repeat;
    padding-left: 16px; 
}

#grid-restore.jqx-fill-state-hover img, #grid-restore.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-restore-white.png) no-repeat;
}

#grid-restore::after  {
    content: 'Восстановить';
}

.grid-show-deleted img {
    background: url(images.transcord/icon-view-delete.png) no-repeat;
    padding-left: 16px; 
}

.grid-show-deleted.jqx-fill-state-hover img, .grid-show-deleted.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-view-delete-white.png) no-repeat;
}

.grid-show-deleted::after  {
    content: 'Показывать удаленные';
}

.grid-show-deleted-2 img {
    background: url(images.transcord/icon-view-delete.png) no-repeat;
    padding-left: 16px; 
}

.grid-show-deleted-2.jqx-fill-state-hover img, .grid-show-deleted.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-view-delete-white.png) no-repeat;
}

.grid-show-deleted-2::after  {
    content: 'Скрыть удаленные';
}

#grid-columns img {
    background: url(images.transcord/icon-loudspeakers.png) no-repeat;
    padding-left: 16px; 
}

#grid-searchForm img {
    background: url(images.transcord/filter.png) no-repeat;
    padding-left: 16px; 
}
#grid-columns.jqx-fill-state-hover img, #grid-columns.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-loudspeakers-white.png) no-repeat;
}

#grid-columns::after  {
    content: 'Выбор колонок';
}

#grid-report img {
    background: url(images.transcord/icon-report.png) no-repeat;
    padding-left: 16px; 
}

#grid-report.jqx-fill-state-hover img, #grid-report.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-report-white.png) no-repeat;
}

#grid-report::after  {
    content: 'Журнал';
}

.grid-date > div:first-child, .grid-date > div:first-child {
    padding-top: 0 !important;
}
#grid-merge::after  {
    content: 'Объединить и перенести';
}
#grid-move::after  {
    content: 'Перенести';
}
#grid-move-current::after  {
    content: 'Перенести в текущую';
}
#grid-create::after  {
    content: 'Создать';
}
.jqx-icon-calendar-transcord {
    background-image: url(images.transcord/icon-date.png);
    margin-left: 1px !important;
}
.jqx-grid-toolbar-transcord > div > div[role="combobox"] {
    width: 50px !important;
    height:10px;
    border-radius: inherit !important;
    border-color: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    padding: 0 0px;
   
}

.jqx-grid-toolbar-transcord > div > div[role="combobox"]:not([id*='grid-demoNumbers']) {
    width: 200px !important;
    border-radius: inherit !important;
    border-color: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    padding: 0 0px;
}

.jqx-grid-toolbar-transcord > div > div.grid-datetime {
    border-radius: inherit !important;
    border-color: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    padding: 0 0px;
    margin-top: 0;
    width: 170px !important;
}

.jqx-grid-groups-header-transcord {
    border: hidden;
}

.jqx-grid-groups-header-transcord > div {
    background-color: white;
    height: 40px !important;
    top: 0px !important;
    left: 0px !important;
    border-radius: 5px;
}

.jqx-grid-groups-header-transcord > div > div {
    top: 10px;
    left: 28px;
    padding-top: 4px;
    
}

.jqx-grid-group-column-line-transcord {
    top: 30px !important;
    padding-top: 0px !important;

}

.jqx-grid-groups-header-transcord > div > div.jqx-grid-group-column-transcord {
    padding-top: 0px;
}

body > #topSplitter > div:last-child {
    padding-left: 0px;
    padding-right: 40px;
    width: 30px;
    position: inherit;
}

.jqx-splitter .jqx-splitter-panel-transcord, .jqx-background-reset, .jqx-grid-groups-header-transcord {
    background-color: rgb(245,245,245) !important;
}

.jqx-grid-transcord [id*='content']:not([id*='contenttable']) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.jqx-grid-transcord [id*='content']:not([id*='contenttable']) > div:first-child {
    border-top-right-radius: 5px;
}

.jqx-grid-transcord .jqx-grid-content-transcord {
    background-color: rgb(245,245,245);
}

.jqx-grid-transcord [role="columnheader"] {
    border-color: rgb(225,225,225);
    background-color: rgb(225,225,225);
}

.jqx-grid-transcord .jqx-grid-cell-filter-row-transcord {
    border-color: rgb(240,238,239);
    background-color: rgb(240,238,239);
    border-top-color: rgb(207,207,207);
    border-bottom-color: rgb(207,207,207);
}

.jqx-grid-transcord .jqx-grid-cell-filter-row-transcord input {
    border: hidden;
}

.jqx-grid-transcord [role="gridcell"] {
    border-bottom-color: rgb(203,203,203);
    border-right: hidden;
}

.jqx-grid-transcord [role="row"] [role="gridcell"]:not(.pinkCell):not(.redCell):not(.blueCell) {
   
    background-color: rgb(245,245,245);
} 

.jqx-grid-transcord .jqx-grid-cell-alt:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-filter-alt-transcord:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-sort-alt:not(.pinkCell):not(.redCell):not(.blueCell) {
    background-color: white !important;
}

.jqx-grid-transcord [role="row"] [role="gridcell"].jqx-fill-state-hover-transcord:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-alt.jqx-fill-state-hover-transcord:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-filter-alt-transcord.jqx-fill-state-hover-transcord:not(.pinkCell):not(.redCell):not(.blueCell) {
    
    background-color: rgb(225,225,225) !important;
}

.jqx-grid-transcord [role="row"] [role="gridcell"].jqx-fill-state-pressed-transcord:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-alt.jqx-fill-state-pressed-transcord:not(.pinkCell):not(.redCell):not(.blueCell), 
.jqx-grid-transcord .jqx-grid-cell-filter-alt-transcord.jqx-fill-state-pressed-transcord:not(.pinkCell):not(.redCell):not(.blueCell) {
    background-color: #d1d1d1 !important;
}

.jqx-grid-transcord [role="row"] [role="gridcell"].jqx-grid-cleared-cell-transcord:not(.pinkCell):not(.redCell):not(.blueCell) {
    background-color: rgb(245,245,245);
}

.jqx-grid-transcord .jqx-scrollbar-transcord > div > div {
    background-color: rgb(224,224,224);
    border-radius: 5px;
    border-style: none;
}

.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-transcord, .jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-horizontal-transcord {
    background-color: rgb(57,64,70);
    border-color: rgb(57,64,70);
    border-radius: 5px;
}

.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-transcord.jqx-fill-state-hover-transcord,
.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-horizontal-transcord.jqx-fill-state-hover-transcord,
.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-transcord.jqx-fill-state-pressed-transcord,
.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-horizontal-transcord.jqx-fill-state-pressed-transcord {
    background-color: rgb(0,0,0);
}

.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-transcord {
    width: 7px !important;
    left: 4px !important;
}

.jqx-grid-transcord .jqx-scrollbar-transcord .jqx-scrollbar-thumb-state-normal-horizontal-transcord {
    height: 7px !important;
    top: 4px !important;
}

.jqx-grid-transcord [id*='verticalScrollBar'].jqx-scrollbar-transcord {
    left: auto !important;
    right: 2px !important;
}

body > form .jqx-grid-transcord [id*='horizontalScrollBar'].jqx-scrollbar-transcord {
    top: auto !important;
    bottom: 0;
}

.jqx-grid-transcord [id*='horizontalScrollBar'].jqx-scrollbar-transcord, .jqx-grid-transcord [id*='horizontalScrollBar'].jqx-scrollbar-transcord > div > div {
    height: 17px !important;
}

.jqx-grid-transcord [id*='jqxScrollBtnUphorizontalScrollBar'] {
    width: 15px !important;
    height: 15px !important;
    left: 0 !important;
    right: auto !important;
}

.jqx-grid-transcord [id*='jqxScrollBtnDownhorizontalScrollBar'] {
    width: 15px !important;
    height: 15px !important;
    left: auto !important;
    right: 0 !important;
}

.jqx-grid-transcord .jqx-grid-pager-transcord {
    border-color: rgb(245,245,245);
    background-color: rgb(245,245,245);
}

.jqx-grid-transcord .jqx-grid-bottomright-transcord {
    background-color: rgb(245,245,245);
}

.jqx-grid-transcord .jqx-grid-statusbar-transcord {
    border: hidden;
}

.jqx-grid-rows-transcord {
    height: 25px;
}

.jqx-grid-columns-transcord {
    height: 30px;
}

.jqx-grid-pager-transcord {
    height: 60px;
}

.jqx-grid-alt-rows {
    height: 1px;
}

.jqx-grid-transcord .jqx-grid-pager-transcord > div {
    margin: 0 auto;
    width: 550px !important;
}
#OrderPaymentControlContainer{
    text-align: left;
}

