.jqx-widget-content-SmarTruck{border-color: #8e8e97; background-color: #f7f7f7;}
.jqx-fill-state-normal-SmarTruck, .jqx-widget-header-SmarTruck{ border-color: #8e8e97; text-shadow:0 1px 0 #f1f1f5;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#efeff1), color-stop(4%,#ededf0), color-stop(100%,#d2d2d8));
background: -webkit-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: -o-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
}
.jqx-widget-SmarTruck .jqx-grid-cell-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-column-header-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-group-cell-SmarTruck {border-color: #8e8e97; background-color: #f7f7f7;}
.jqx-widget-SmarTruck .jqx-grid-cell-sort-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-cell-filter-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-cell-alt-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-cell-pinned-SmarTruck{background-color:#d7d9df}
.jqx-widget-SmarTruck, .jqx-widget-header-SmarTruck, .jqx-widget-content-SmarTruck{-webkit-background-clip: padding-box; background-clip: padding-box;}
.jqx-fill-state-hover-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-cell-hover-SmarTruck{ border-color:#5a5e64; color:#000; text-shadow:0 1px 0 #aaa;
background: #cacdd5;
background: -moz-linear-gradient(top, #cacdd5 0%, #a3a7b4 93%, #a6aab7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacdd5), color-stop(93%,#a3a7b4), color-stop(100%,#a6aab7));
background: -webkit-linear-gradient(top, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: -o-linear-gradient(top, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: -ms-linear-gradient(top, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: linear-gradient(top, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
}
.jqx-fill-state-pressed-SmarTruck, .jqx-widget-SmarTruck .jqx-grid-cell-selected-SmarTruck {
    background: #d2d2d8;
    border-image: initial;
    /*белый цвет плохо смотрится, отключено*/
    /*color: white;*/
    /*text-shadow: 0 1px 0 #555;*/
}
.jqx-fill-state-focus-SmarTruck { border-color: #555; }
.jqx-fill-state-normal-SmarTruck, .jqx-fill-state-pressed-SmarTruck, .jqx-fill-state-hover-SmarTruck
{
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 2px 3px rgba(0,0,0,.15);
    -o-box-shadow     : 0 2px 3px rgba(0,0,0,.15);
    box-shadow        : 0 2px 3px rgba(0,0,0,.15);
}

.jqx-grid-column-menubutton-SmarTruck{ background-color:transparent}
.jqx-calendar-row-header-SmarTruck, .jqx-calendar-top-left-header-SmarTruck{ background-color:#f2f2f2;  border:0px solid #f2f2f2}
.jqx-calendar-column-header-SmarTruck{ background-color:#FFF;  border-top:1px solid #FFF;  border-bottom:1px solid #e9e9e9}
.jqx-scrollbar-state-normal-SmarTruck{ background-color:#efefef;  border:1px solid #efefef}
.jqx-scrollbar-button-state-normal-SmarTruck{ border:1px solid #efefef;  background-color:#ececed}
.jqx-scrollbar-button-state-hover-SmarTruck{ border:1px solid #8e8e97;}
.jqx-scrollbar-button-state-pressed-SmarTruck{ border:1px solid #8e8e97;}
.jqx-scrollbar-thumb-state-normal-SmarTruck{background: #ffffff;                                       
background: -moz-linear-gradient(left, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(1%,#efeff1), color-stop(4%,#ededf0), color-stop(100%,#d2d2d8));
background: -webkit-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: -o-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: -ms-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
background: linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);  border:1px solid #8e8e97}
.jqx-scrollbar-thumb-state-hover-SmarTruck{background: #cacdd5;
background: -moz-linear-gradient(left, #cacdd5 0%, #a3a7b4 93%, #a6aab7 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cacdd5), color-stop(93%,#a3a7b4), color-stop(100%,#a6aab7));
background: -webkit-linear-gradient(left, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: -o-linear-gradient(left, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: -ms-linear-gradient(left, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
background: linear-gradient(left, #cacdd5 0%,#a3a7b4 93%,#a6aab7 100%);
 border:1px solid #8e8e97}
.jqx-scrollbar-thumb-state-pressed-SmarTruck, .jqx-progressbar-value-vertical-SmarTruck{
background: #9cbbed;
background: -moz-linear-gradient(left, #9cbbed 0%, #3a78dc 1%, #1543bb 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9cbbed), color-stop(1%,#3a78dc), color-stop(100%,#1543bb));
background: -webkit-linear-gradient(left, #9cbbed 0%,#3a78dc 1%,#1543bb 100%);
background: -o-linear-gradient(left, #9cbbed 0%,#3a78dc 1%,#1543bb 100%);
background: -ms-linear-gradient(left, #9cbbed 0%,#3a78dc 1%,#1543bb 100%);
background: linear-gradient(left, #9cbbed 0%,#3a78dc 1%,#1543bb 100%);
 border:1px solid #014ab8}

.jqx-expander-arrow-expanded-SmarTruck, .jqx-icon-arrow-up-selected-SmarTruck{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-down-selected-SmarTruck{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-left-selected-SmarTruck{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-selected-SmarTruck{background-image:url('images/icon-right-white.png');background-repeat:no-repeat; background-position:center}
.jqx-slider-track-horizontal-SmarTruck, .jqx-slider-track-vertical-SmarTruck{border-color: #e8e8e8; background: #e8e8e8;}
.jqx-grid-column-sortdescbutton-SmarTruck, jqx-grid-column-filterbutton-SmarTruck, .jqx-grid-column-sortascbutton-SmarTruck{ background-color:transparent;  border-style:solid;  border-width:0px 0px 0px 0px;  border-color:#8e8e97}
.jqx-menu-item-arrow-right-selected-SmarTruck{background-image:url(images/icon-right-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-down-selected-SmarTruck{background-image:url(images/icon-down-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-up-selected-SmarTruck{background-image:url(images/icon-up-white.png);background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-left-selected-SmarTruck{background-image:url(images/icon-left-white.png); background-position:0 50%; background-repeat:no-repeat}

.jqx-grid-bottomright-SmarTruck, .jqx-panel-bottomright-SmarTruck, .jqx-listbox-bottomright-SmarTruck{background-color: #efefef;}
.jqx-tabs-title-selected-top-SmarTruck, .jqx-tabs-selection-tracker-top-SmarTruck {border-color: #8e8e97; border-bottom: 1px solid #f7f7f7; text-shadow:0 1px 0 #f2f2f2; filter: none; color: #222; background: #f7f7f7;}
.jqx-tabs-title-selected-bottom-SmarTruck, .jqx-tabs-selection-tracker-bottom-SmarTruck {border-color: #8e8e97; border-top: 1px solid #f7f7f7; text-shadow:0 1px 0 #f2f2f2; filter: none; color: #222; background: #f7f7f7;}
.jqx-tabs-title-SmarTruck, .jqx-window-SmarTruck, .jqx-docking-SmarTruck, .jqx-widget-SmarTruck .jqx-window-SmarTruck {-webkit-box-shadow: none;-moz-box-shadow:none;-o-box-shadow: none;box-shadow :none;}
.jqx-splitter-splitbar-horizontal-SmarTruck, .jqx-splitter-splitbar-vertical-SmarTruck, .jqx-splitter-splitbar-hover-SmarTruck, .jqx-splitter-splitbar-hover-horizontal-SmarTruck{background: #a5a9b6;}
.jqx-splitter-collapse-button-horizontal-SmarTruck, .jqx-splitter-collapse-button-vertical-SmarTruck{background: #1847bd;}
.jqx-slider-tick-horizontal-black, .jqx-slider-tick-vertical-black{background: #1847bd; border-color: #1847bd;}
.jqx-menu-vertical-SmarTruck{ background:#d2d2d8; filter: none;}
.jqx-grid-cell-SmarTruck.jqx-grid-cell-selected-SmarTruck>.jqx-grid-group-expand-SmarTruck {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-SmarTruck.jqx-grid-cell-selected-SmarTruck>.jqx-grid-group-collapse-SmarTruck
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-SmarTruck.jqx-grid-cell-selected-SmarTruck>.jqx-grid-group-collapse-rtl-SmarTruck
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-SmarTruck.jqx-grid-cell-selected-SmarTruck>.jqx-grid-group-expand-rtl-SmarTruck
{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-selected-SmarTruck
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-SmarTruck
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-pressed-SmarTruck {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-time-pressed-SmarTruck {
    background-image: url('images/icon-time-white.png');
}
.jqx-layout-SmarTruck
{
    background-color: #8e8e97;
}
#MainMenu{
    height:auto;
}
    #MainMenu #logo {
        /*position: absolute;
        left: auto;*/
        overflow: visible;
        /*padding-top:15px;*/
        padding-left: 9px !important;
        padding-right: 9px !important;
        border: hidden;
        border-radius: 0;
        margin: 0;
        /*background-image: url('../../content/logotype/logoSmal.png');*/
        background-image: url('../../Content/logotype/newLogo.png');
        height: 30px;
        width: 240px;
        /*right: 180px;*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

#MainMenu #logo img {
     width: 0px;
    height: 0px;
    display: none;
}

#mainmenu-user, #mainmenu-exit {
    /*position: absolute;
    top: 5px;
    left: auto;*/
    color:white;
    overflow: visible;
    /*padding-top:15px;*/
    padding-left: 9px !important;
    padding-right: 9px !important;
    /*margin-top: 5px;
    border: hidden;
    border-radius: 0;
    margin: 0;*/
}

#mainmenu-user > font{
    color:white;
}

#MainMenu > ul > li > a> div{
    position: absolute;
    top:45%;
}
.jqx-menu-vertical-SmarTruck {
    background: #363636;
    filter: none;
}
.jqx-menu ul{
    height:40px;
    color: white;
    overflow-y:scroll;
}

.jqx-menu li{
    margin-top:5px;
    display:inline-block;
    height:25px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#mainmenu-home-button{
    margin-top:5px;
}

#mainmenu-settings{
    float:right;
}

.jqx-menu-horizontal {
    /*background: #515151;*/
    background: black;
}
.jqx-menu-dropdown{
    background: #515151;
    color: white;
}

.jqx-menu-item-top-selected{
    background: #515151;
    border: none;
}

#grid-reload img {
    background: url(images.transcord/icon-reload.png) no-repeat;
    padding-left: 16px;
}

#grid-reload.jqx-fill-state-hover img, #grid-reload.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-reload-white.png) no-repeat;
}

#grid-add img {
    background: url(images.transcord/icon-add.png) no-repeat;
    padding-left: 16px; 
}

#grid-add.jqx-fill-state-hover img, #grid-add.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-add-white.png) no-repeat;
}



#grid-add-by-copy img {
    background: url(images.transcord/icon-copy.png) no-repeat;
    padding-left: 16px; 
}

#grid-add-by-copy.jqx-fill-state-hover img,#grid-add-by-copy.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-copy-white.png) no-repeat;
}



#grid-edit img {
    background: url(images.transcord/icon-edit.png) no-repeat;
    padding-left: 16px; 
}

#grid-edit.jqx-fill-state-hover img, #grid-edit.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-edit-white.png) no-repeat;
}

#grid-delete img {
    background: url(images.transcord/icon-delete.png) no-repeat;
    padding-left: 16px; 
}

#grid-delete.jqx-fill-state-hover img, #grid-delete.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-delete-white.png) no-repeat;
}

#grid-export img {
    background: url(images.transcord/icon-export.png) no-repeat;
    padding-left: 16px; 
}

#grid-export.jqx-fill-state-hover img, #grid-export.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-export-white.png) no-repeat;
}


#grid-restore img {
    background: url(images.transcord/icon-restore.png) no-repeat;
    padding-left: 16px; 
}

#grid-restore.jqx-fill-state-hover img, #grid-restore.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-restore-white.png) no-repeat;
}

.grid-show-deleted img {
    background: url(images.transcord/icon-view-delete.png) no-repeat;
    padding-left: 16px; 
}

.grid-show-deleted.jqx-fill-state-hover img, .grid-show-deleted.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-view-delete-white.png) no-repeat;
}

.grid-show-deleted-2 img {
    background: url(images.transcord/icon-view-delete.png) no-repeat;
    padding-left: 16px; 
}

.grid-show-deleted-2.jqx-fill-state-hover img, .grid-show-deleted.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-view-delete-white.png) no-repeat;
}

#grid-searchForm img {
    background: url(images.transcord/filter.png) no-repeat;
    padding-left: 16px; 
}
#grid-columns.jqx-fill-state-hover img, #grid-columns.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-loudspeakers-white.png) no-repeat;
}


#grid-report img {
    background: url(images.transcord/icon-report.png) no-repeat;
    padding-left: 16px; 
}

#grid-report.jqx-fill-state-hover img, #grid-report.jqx-fill-state-pressed img {
    background: url(images.transcord/icon-report-white.png) no-repeat;
}


.grid-date > div:first-child, .grid-date > div:first-child {
    padding-top: 0px !important;
}


.jqx-grid-SmarTruck {
    border-color: rgb(245,245,245);
}

.jqx-grid-toolbar-SmarTruck {
    display: table;
    height: 40px;
    width: 100%;
}

.jqx-grid-toolbar-SmarTruck > div {
    height: 100%;
    width:100%;
    margin: 0 !important;
    /*text-align: center;*/
    display: block;
    vertical-align: middle;
    white-space: normal;
    overflow-y: scroll;
    
}

.jqx-grid-toolbar-SmarTruck > div > div {
    /*float: none !important;*/
    margin-top: 5px;
    display: inline-block;
    width: auto !important;
    height: 28px !important;
    border-radius: 30px !important;
    border-color: darkslategrey;
    color: black;
    padding: 0 8px;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: pointer;
    background-color: rgb(245,245,245);
    margin-left: 7px !important;
    position: relative;
    vertical-align: top;
    line-height: 30px;
}

.jqx-grid-toolbar-SmarTruck > div > input not[id*='OrderPaymentControlInput{']{
    float: none !important;
    display: inline-block;
    width: auto !important;
    height: 28px !important;
    padding: 0 8px;
    box-shadow: none !important;
    text-shadow: none !important;
    margin-left: 7px !important;
    position: relative;
    vertical-align: top;
    line-height: 27px;
}

.jqx-grid-toolbar-SmarTruck > div > div > img {
    margin: 6px !important;
    display: inline-block;
}

.jqx-grid-toolbar-SmarTruck > div > div > span:nth-child(1) {
    top: 0px !important;
    margin-right: 4px;
}

.jqx-grid-toolbar-SmarTruck > div > div > span:nth-child(2) {
    visibility: hidden;
    position: absolute !important;
    top: 0px !important;
    margin-right: 4px !important;
}


.jqx-grid-toolbar-SmarTruck > div > div img {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}


.jqx-grid-toolbar-SmarTruck > div > div[role="combobox"] {
    width: 200px !important;
    border-radius: inherit !important;
    border-color: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    padding: 0 0px;
}

#UserMenu{
    width: 100%;
    max-height: 100px;
    background-color: white;
    border: none;
    display: inline;
    
}

#UserMenu ul {
    height: 100%;
    width: 100%;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    text-align:left;
    
}

#UserMenu > ul > li {
    display: inline-block;
    float: none !important;
    border-radius: 30px;
    border-color: darkslategrey;
    color: black;
    vertical-align: middle;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.1 !important;
}

#UserMenu > ul > li > div {
    height: 100%;
    border: 0;
    padding: 0;
    line-height: 1.3 !important;
}

#UserMenu > ul > li > div > input, #UserMenu > ul > li > a {
    margin-top: 0px !important;
    display: inline-block;
    height: 100% !important;
    padding: 0px 6px;
    width: inherit !important;
    border: 0;
    line-height: 1.3 !important;
}

#UserMenu > ul > li > span {
    height: 25.5px;
}

#UserMenu > ul > li.jqx-menu-item-top-hover-SmarTruck > span {
    background-image: url(images.transcord/icon-down.png) !important;
}

#UserMenu > ul > li > span.jqx-icon-arrow-down-transcord.jqx-menu-item-arrow-down-selected-SmarTruck {
    background-image: url(images.transcord/icon-down.png) !important;
}

#UserMenu li input {
    color: black !important;
}

#UserMenu .jqx-menu-item-top-hover-SmarTruck {
    background-color: #515151;
    color: white !important;
}

#UserMenu .jqx-menu-item-top-hover-SmarTruck input {
    color: black !important;
    cursor: pointer;
}

#UserMenu .jqx-menu-item-top-selected-SmarTruck {
    border-radius: 15px;
    background-color: #515151;
}

#UserMenu .toggleBtnClass {
    background-color: #515151 !important;
    
    background-image: none !important;
}
#CancelButton{
    padding:0;
    margin:0;
    width: 80%;
}

#logotypeLogin{

    background: url(../../Content/logotype/login_logo.png) 50% 50% no-repeat;
    width:100%;
    height: 100%;
     
}
.grid-date > div:first-child, .grid-date > div:first-child {
    padding-top: 0 !important;
}
jqx-icon-calendar-SmarTruck {
    background-image: url(images.transcord/icon-date.png);
    margin-left: 1px !important;
}

jqx-grid-toolbar-SmarTruck > div > div.grid-datetime {
    border-radius: inherit !important;
    border-color: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    padding: 0 0px;
    margin-top: 0;
    width: 170px !important;
}

.jqx-widget-SmarTruck{
    box-shadow:none;
}

.jqx-button {
    box-shadow: none;
}

#DemoNumber{
    margin-top:5px;
}

.ContextMenuSelect{
    overflow:hidden;
    display: block;
}
.ContextMenuSelect ul{
    left: 100%;
    margin: 0px;
    padding: 2px;
    right: 0;
    overflow: hidden;
    display: block;
    font-size: 13px;
    line-height: 1.231;
    height:auto;
}

.ContextMenuSelect li{
    height:auto;
    overflow:hidden;
    display: block;
    float: none;
    line-height: 1.3 !important;
    box-sizing: content-box;
    color: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
    border: 1px solid transparent;
    text-indent: 0;
    list-style: none;
    padding: 4px 8px 4px 8px;
    left: 100%;
    overflow: hidden;
    color: inherit;
    right: 0;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
}

